<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <title>Hello, world!</title>
</head>
<body>
        
        
            <ul class="navbar">
                    <!-- <a routerLink ="/demo">Demo</a>
                    <a routerLink ="/nav">Nav</a>
                    <a routerLink ="/pipe">Pipe</a> -->
                    <li *ngFor=" let component  of listOfComponent">
                            <!-- Content here -->
                            <a routerLink = "/{{component}}">{{component|uppercase}}</a>
                        
                    </li>
                    
                    
            </ul>
        

            <div>
                    <router-outlet></router-outlet>
            </div>
            <app-student></app-student>
            
</body>
</html>
